@media (min-width: 981px)
  .flex
    display: flex
    justify-content: space-between
  
@media (max-width: 980px)
  .container
    max-width: 767px
  .features
    padding-top: 20px
    &__1__right
      padding-left: 10px
    &__2__left
      padding-right: 0px
      &__text
        padding-bottom: 0px
  .showcase
    padding-top: 40px
    &:first-of-type
      padding-top: 0px

  .tabs__content
    padding-left: 10px
  .tabs__caption li
    width: 50px
    height: 50px
  
  .city-skyline
    margin-bottom: -30px
    display: block
    max-width: 100%
  .city-roof
    display: block
    max-width: 100%
  
  .signup-form
    &__body
      display: block
    &__inputs
      padding-bottom: 10px

@media (min-width: 768px)
  .nav-toggle
    visibility: hidden
  
@media (max-width: 767px)
  .container
    max-width: 640px
    display: block
  .block1-col:last-of-type
    margin-top: 40px
  .brand-bar__right > a
    margin-right: 7px

  .nav
    visibility: hidden
    opacity: 0
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.8)
    transition: .3s

  .nav-list
    padding-top: 40px
    background-color: #fff
    color: #000000
    flex-direction: column
    transition: .3s
    position: absolute
    top: 0
    left: 0
    height: 100%
    overflow: hidden
    overflow-y: auto
    transform: translate(-100%, 0)

    li + li
      margin-left: 0

  .nav-list-link
    display: block
    width: 240px
    font-size: 28px
    padding: 10px

  .nav.nav_active
    visibility: visible
    opacity: 1

  .nav-list.nav_active
    transform: translate(0, 0)

  .nav-toggle
    display: block

@media (max-width: 640px)
  .container
    max-width: 480px
  .brand-bar
    display: block
    &__right
      margin-top: 10px


@media (max-width: 480px)
  .container
    max-width: 480px
  .city-skyline, .city-roofs, .city-reflected
    display: none