@import _colors.sass

html
  font-family: "HelveticaNeue"
  font-size: 14px
  font-weight: normal
  color: $primary-color

a:hover
  text-decoration: underline

  &.button
    text-decoration: none

.container
  width: 100%
  max-width: 1100px
  margin: 0 auto
  padding: 0 10px
.flex
  display: flex
  justify-content: space-between

.navbar
  padding: 20px 0 20px 0
  position: absolute
  color: #fff
  background-color: #000
  top: 0
  left: 0
  width: 100%

  &.sticky
    position: fixed
    background-color: rgba(0, 0, 0, 0.8)
    z-index: 50

.navbar-grid
  display: flex
  justify-content: space-between
  align-items: center

.logo
  font-size: 21px
  font-weight: bold
  text-transform: uppercase

.nav-list
  display: flex

  li + li
    margin-left: 20px

.nav-list-link:hover
  text-decoration: underline

.block1
  background-image: url(../img/cover.jpg)
  background-size: cover
  color: #ffffff
  padding: 170px 0px 140px
.background-tint 
  background-color: rgba(0,0,0,.5);
  background-blend-mode: multiply;

.product-col
  max-width: 512px
.logo_big
  font-size: 72px
  text-transform: uppercase
.product-name
  font-size: 36px
  text-transform: uppercase
  position: relative
  padding-bottom: 40px;
  &:after
    position: absolute
    bottom: 0
    display: block
    content: ''
    width: 65px
    border-bottom: 4px solid #fff
.product-desc
  font-size: 16px
  color: rgba(#fff, .6)
  padding: 40px 0px 40px 0px
  line-height: 1.45

.signup-form
  background-color: #fff
  min-width: 360px
  overflow: hidden
  border-radius: 5px
  &__header
    padding: 20px 40px 20px 40px
    color: #000
    font-size: 20px
    font-weight: bold
    background-color: #f5f5f5
    text-align: center
    &__orange
      color: #ff9b51
  &__inputs
    padding: 0px 40px 45px 40px
  &__input
    font-size: 14px
    padding: 0px 15px 0px 15px
    margin-top: 40px
    line-height: 2.4
    width: 100%
    display: block
    border: none
    border-bottom: 1px solid #d6d6d6
    &::placeholder
      color: #bdbdbd

  &__submit
    color: #fff
    font-size: 15px
    padding: 20px 40px 20px 40px
    background-color: #ff9b51
    width: 100%
    border: none

.btn-download
  padding: 15px 30px
  color: #fff
  background-color: transparent
  border: 2px solid #fff
  transition: .2s
  font-weight: 500px
  &:hover
    background-color: #ff9b51
    border: 2px solid #ff9b51

.brand-bar
  display: flex
  justify-content: space-between
  padding: 20px 0px 12px
  color: #ccc
  &__left
    &__title
      font-size: 20px
      font-weight: 700
      color: #000
  &__right
    font-size: 40px
    display: flex
    flex-grow: 1
    justify-content: space-evenly
    & a:hover
      color: #ff9b51
.separator
  height: 8px
  box-shadow: 0px 3px 3px -3px rgba(0,0,0,0.75);