html {
  font-family: "HelveticaNeue";
  font-size: 14px;
  font-weight: normal;
  color: #3e434a;
}

a:hover {
  text-decoration: underline;
}

a:hover.button {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  padding: 20px 0 20px 0;
  position: absolute;
  color: #fff;
  background-color: #000;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar.sticky {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
}

.navbar-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-list li + li {
  margin-left: 20px;
}

.nav-list-link:hover {
  text-decoration: underline;
}

.block1 {
  background-image: url(../img/cover.jpg);
  background-size: cover;
  color: #ffffff;
  padding: 170px 0px 140px;
}

.background-tint {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.product-col {
  max-width: 512px;
}

.logo_big {
  font-size: 72px;
  text-transform: uppercase;
}

.product-name {
  font-size: 36px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 40px;
}

.product-name:after {
  display: block;
  content: '';
  width: 65px;
  border-bottom: 3px solid #fff;
  padding-bottom: 30px;
}

.product-desc {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  padding: 10px 0px 40px 0px;
  line-height: 1.45;
}

.signup-form {
  background-color: #fff;
  min-width: 360px;
  overflow: hidden;
  border-radius: 5px;
}

.signup-form__header {
  padding: 20px 40px 20px 40px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  background-color: #f5f5f5;
  text-align: center;
}

.signup-form__header__orange {
  color: #ff9b51;
}

.signup-form__inputs {
  padding: 0px 40px 45px 40px;
}

.signup-form__input {
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  margin-top: 40px;
  line-height: 2.4;
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #d6d6d6;
}

.signup-form__input::-webkit-input-placeholder {
  color: #bdbdbd;
}

.signup-form__input:-ms-input-placeholder {
  color: #bdbdbd;
}

.signup-form__input::-ms-input-placeholder {
  color: #bdbdbd;
}

.signup-form__input::placeholder {
  color: #bdbdbd;
}

.signup-form__submit {
  color: #fff;
  font-size: 15px;
  padding: 20px 40px 20px 40px;
  background-color: #ff9b51;
  width: 100%;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.signup-form__submit:hover {
  background-color: #fd7714;
}

.btn-download {
  padding: 15px 30px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: .2s;
  transition: .2s;
  font-weight: 500;
}

.btn-download:hover {
  background-color: #ff9b51;
  border: 2px solid #ff9b51;
}

.brand-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px 12px;
  color: #aaa;
}

.brand-bar__left {
  max-width: 400px;
  padding-right: 80px;
}

.brand-bar__left__title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  padding-bottom: 5px;
}

.brand-bar__right {
  font-size: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand-bar__right a:hover {
  color: #ff9b51;
}

.separator {
  height: 8px;
  -webkit-box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 3px -3px rgba(0, 0, 0, 0.75);
}

.features {
  padding: 100px 0px 60px 0px;
}

.features__0 {
  margin-top: 3px;
  background-color: #f5f5f5;
}

.features__1__right {
  padding-left: 100px;
  color: #aaa;
}

.features__1__right__title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.features__1__right__title:after {
  display: block;
  content: '';
  width: 65px;
  border-bottom: 2px solid #ff9b51;
  padding-bottom: 30px;
}

.features__1__right__text {
  padding: 30px 0px 50px 0px;
}

.features__1__right__list__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__1__right__list__li__text {
  margin-left: 30px;
}

.features__1__right__list__li__text__title {
  font-weight: 700;
  color: #000;
  padding-bottom: 10px;
}

.features__1__right__list__li:first-of-type {
  padding-bottom: 40px;
}

.features__2 {
  background-color: #f5f5f5;
}

.features__2__left {
  padding-right: 100px;
  color: #aaa;
}

.features__2__left__title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.features__2__left__title:after {
  display: block;
  content: '';
  width: 65px;
  border-bottom: 2px solid #ff9b51;
  padding-bottom: 30px;
}

.features__2__left__text {
  padding: 30px 0px 50px 0px;
}

.features__2__left__text p {
  padding-bottom: 25px;
}

.city-reflected {
  margin: 25px 0px 0px 100px;
}

.city-roofs {
  margin-left: -50px;
}

.city-skyline {
  margin-right: -50px;
}

.circle-icon {
  width: 40px;
  height: 40px;
  margin-top: 5px;
  color: #ff9b51;
  border: 2px solid #ff9b51;
  border-radius: 50%;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */